<div class="banner">
  <div class="container">
    <h1>Save any kinds of movies!</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-3">My List</h2>
    <%= link_to "Create A Movie List", new_list_path, class: "btn btn-success rounded text-white" %>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-4 mb-4">
      <% banner_style = list.photo.attached? ? "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{cl_image_path(list.photo.key, height: 300, crop: :fill)})" : "" %>
      <div class="card-category" style="<%= banner_style %>">
        <%= link_to list_path(list), class: list.photo.attached? ? "text-decoration-none text-white" : "text-decoration-none" do  %>
          <%= list.name %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
