// Specific CSS for your home-page
.banner {
  background: $gray-600;
  padding: 150px 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin: 0;
    color: $white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
  }

  p {
    font-size: 20px;
    color: $white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.fs-7 {
  font-size: 0.875rem;
}
